<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">
    <link rel="shortcut icon" type="image/png" href="./assets/img/logo.png"/>
    <link rel="stylesheet" href="./assets/css/preset.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=vietnamese" rel="stylesheet">
    
</head>
<body>
  <div class="header">
    <ul class="header__navleft">
      <li class="header__listItem"><a class="header__link" href="index.html"><img class="header__logo" src="./assets/img/Rent Car Taxi Cab Logo.png" alt="logo"></a></li>
      <li class="header__listItem"><a class="header__link" href="index.html">Trang Chủ</a></li>
      <li class="header__listItem"><a class="header__link" href="signin.html">Chăm Sóc Khách Hàng</a></li>  
    </ul>
    <ul class="header__navright">
      <li class="header__listItem"><a class="header__link" href="signin.html">Đăng Nhập</a></li>
      <li class="header__listItem"><a class="header__link" href="signin.html">Hỗ Trợ</a></li>
    </ul>
  </div>
  <div class="content">
        <div class="content__mission">
          <p>Xin chào<br><br>Đây là ứng dụng quản lý thuê xe của công ty Takehiro</p>
        </div>
        <div class="content__menu">
          
        </div>
  </div>
    
  <div id="footer">
    <div class="footer">
          <footer class="footer">
              <div class="footer__p1">
                <p class="footer--h1">Công ty cho thuê xe Takehiro</p>
                <div class="footer--h2"> <i class="ti-location-pin"></i>
                  <a class="footer__link" href="https://goo.gl/maps/GX8fSM2AWNVL1nPk6"> Số 10 Giải Phóng, Hai Bà Trưng, Hà Nội</a>   
                  <div class="map-box"><img class="maps" src="./assets/img/AddressCpn.png" alt=""> </div>
                </div>
                <div class="clear"></div>
                <p class="footer--h2"> 
                  <i class="ti-file"></i> GPKD số 0312345678 cấp bởi Sở Kế hoạch và Đầu tư Thành Phố Hà Nội ngày 07/06/2010
                </p>
                <p class="footer--h2"><i class="fal fa-phone fa-rotate-90" style="color: #c4def6;"></i> <i class="ti-mobile"></i> Điện thoại: 1800 1008 - 0971234567</p>
                <p class="footer--h2"><i class="ti-email"></i> Email liên hệ: Takehiro@busi.vn</p>
              </div>
              <div class="footer__p2">
                <p class="footer--h1">Kết nối với Takehiro</p>
                <ul class="footer--h15">
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-facebook"> </i> Facebook</a></li>
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-twitter"> </i> Twitter</a></li>
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-youtube"> </i> Youtube</a></li>
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-instagram"> </i> Instagram</a></li>
                </ul>
              </div>
              <div class="footer__p3">
                <img class="footer__p3logo" src="./assets/img/logobocongthuong.png" alt="đã thông báo với bộ công thương">
                <img class="footer__p3logo" src="./assets/img/dmca-logo.png" alt="">
              </div>
          </footer>
    </div>
    <div class="footer2">
        <footer class="footer">
          <div class="footer__logo">
            <img class="footer__logoImg" src="./assets/img/logo.png" alt="logo công ty">
          </div>
          <div class="footer__cpn">
            <p class="footer__name">Takehiro Rent Car</p>
          </div>
          <div class="footer__slogan">Best Service, Right Time, Right People</div>
        </footer>
    </div>
  </div>
</body>
</html>