<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">
    <link rel="shortcut icon" type="image/png" href="./assets/img/logo.png"/>
    <link rel="stylesheet" href="./assets/css/preset.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="./assets/css/layout1Remove.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=vietnamese" rel="stylesheet">
    <title>Remove Rent Car</title>
    <!-- - them jquery --->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
      /* Định dạng bảng */
      table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto; /* Căn giữa bảng */
        overflow-x: auto;
      }
  
      /* Định dạng hàng đầu tiên (tiêu đề cột) */
      thead th {
        background-color: #33b0b9;
        font-weight: bold;
        padding: 12px; /* Tăng kích thước padding */
        text-align: left;
      }
  
      /* Định dạng các ô dữ liệu */
      tbody td {
        border: 1px solid #ddd;
        padding: 12px; /* Tăng kích thước padding */
        background-color: #ffffff74;
      }
  
      /* Định dạng các ô dữ liệu đặc biệt (ví dụ: cột đầu tiên) */
      tbody td:first-child {
        font-weight: bold;
      }
    </style>
</head>
<body>
    <!-- Begin header -->
    <div class="header">
        <ul class="header__navleft">
          <li class="header__listItem"><a class="header__link" href="home.html"><img class="header__logo" src="./assets/img/Rent Car Taxi Cab Logo.png" alt="logo"></a></li>
          <li class="header__listItem"><a class="header__link" href="home.html">Trang Chủ</a></li>
          <li class="header__listItem"><a class="header__link" href="service.html">Chăm Sóc Khách Hàng</a></li>
          <li class="header__listItem">
            <a id="chucnang" class="header__link" href="home.html">Chức năng &nbsp<i class="ti-angle-down"></i> </a>
            <i class="ti-angle-down"></i>
            <ul class="header__subnav">
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageEmployee.html">Quản lý nhân viên</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="listEmployee.html">Danh sách nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addEmployee.html">Thêm thông tin nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateEmployee.html">Sửa thông tin nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeEmployee.html">Xóa thông tin nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchEmployee.html">Tìm kiếm nhân viên</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageCustomer.html">Quản lý khách hàng</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addCustomer.html">Thêm thông tin khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateCustomer.html">Sửa thông tin khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeCustomer.html">Xóa thông tin khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCustomerByName.html">Lọc tìm kiếm khách hàng theo tên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCustomerByPN.html">Lọc tìm kiếm khách hàng theo sdt</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCustomerByEmail.html">Lọc tìm kiếm khách hàng theo email</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="customerHistory.html">Xem lịch sử thuê xe của khách hàng</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageRentCar.html">Quản lý thuê xe</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addRentCar.html">Thêm thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateRentCar.html">Chỉnh sửa thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchRentCar.html">Tìm thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchBill.html">Thông tin hóa đơn khách hàng</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageCar.html">Quản lý xe</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addCar.html">Thêm thông tin xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateCar.html">Sửa thông tin xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCar.html">Tìm kiếm xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="carType.html">Hiển thị thông báo các loại xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="carMaintenance.html">Bảo dưỡng xe</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="report.html">Báo cáo</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="monthReport.html">Báo cáo doanh thu các tháng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="popularCar.html">Loại xe phổ biến </a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="header__navright">
          <li class="header__listItem"><a class="header__link" href="signin.html">Đăng Xuất</a></li>
          <li class="header__listItem"><a class="header__link" href="help.html">Hỗ Trợ</a></li>
        </ul>
      </div>
      <!-- End header -->

      <!-- Begin submition -->
      <div class="submition">
            <div class="submition_content">
                <div class="submition_contentBox">
                    <div class="submition_contentHead">
                    </div>
                    <div class="submition_contentContent">Bạn có chắc chắn muốn xóa ?</div>
                    <div class="submition_contentFooter">
                      <form  id="removeRentalForm" onsubmit="event.preventDefault();" action="/xoathongtinthuexe" method="post">
                        <button class="content__layout1p1BtnSubmit31" type="submit" onclick="deleteRental()">Có</button>
                        <button class="content__layout1p1BtnSubmit32" onclick="event.preventDefault();">Không</button>
                      </form>
                      <script>
                        function deleteRental() {
                          const rentalCode = document.getElementById('rentalCodeInput').value;
                          // Gửi yêu cầu xóa xe đến máy chủ
                          fetch('/xoathongtinthuexe', {
                        method: 'POST',
                        headers: {
                          'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ rentalCode: rentalCode })
                      })
                        .then(response => response.json())
                        .then(result => {
                          if (result.success) {
                            alert(result.message);
                            // Refresh lại danh sách nhân viên sau khi xóa
                          } else {
                            alert(result.message);
                          }
                        })
                        .catch(error => {
                          console.log('Error removing employee:', error);
                          alert('Có lỗi xảy ra khi xóa nhân viên.');
                        });
                    }
                  </script>
                    </div>
                </div> 
            </div>
      </div>
      <!-- End submition -->

      <!-- Begin content -->
      <div class="content">
        <div class="content__sidebar">
          <p class="content__sidebarHeading">Chức năng</p>
          <ul class="content__sidebarList">
            <li class="content__sidebarItem"><a class="content__sidebarFunction" href="manageRentCar.html">Quản lý thuê xe</a></li>
            <li class="content__sidebarItem">
              <ul class="content__sidebarSubList">
                <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="addRentCar.html">Thêm thông tin đặt xe</a></li>
                <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="searchRentCar.html">Tìm thông tin đặt xe</a></li>
                <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="updateRentCar.html">Chỉnh sửa thông tin đặt xe</a></li>
                <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="removeRentCar.html">Xóa thông tin đặt xe</a></li>
                <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="updateBill.html">Cập nhật hóa đơn</a></li>
                <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="searchBill.html">Thông tin hóa đơn</a></li>
              </ul>
            </li>
          </ul>
          <p id="ct__sbback"><a class="ct__sbbackLink" href="home.html"><i class="ti-angle-left" style="font-size: 1.8rem;"></i>&nbspQuay lại</a></p>
        </div>
        <div class="content__main">
            <div class="content__layout1">
                <div class="content__layout1p1">
                    <form class="content__layout1p1SearchForm" action="#" method="get">
                      <input class="content__layout1p1SearchArea" name="rentalCode" id="rentalCodeInput" type="text" placeholder="Nhập mã thuê ( mã thuê có dạng MT0000000 )">
                      <input class="content__layout1p1BtnSubmit" type="button" value="Tìm kiếm" onclick="searchRentalByCode()">
                    </form>
                </div>
                <div class="content__layout1p23">
                    <div class="content__layout1p2">
                      <table id="rentalTable" class="hidden">
                        <thead>
                          <tr>
                            <th>Họ tên</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Mã khách hàng</th>
                            <th>Mã xe</th>
                            <th>Địa điểm nhận xe</th>
                            <th>Địa điểm trả xe</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                          </tr>
                        </thead>
                        <tbody id="rentalTableBody"></tbody>
                      </table>
                    
                    <!-- Định nghĩa các style cho bảng và thông báo -->
                    <style>
                      .hidden {
                        display: none;
                      }
                      .no-match-message {
                        color: red;
                        font-size: 24px;
                        font-weight: bold;
                        overflow-x: 12px;
                        padding-top: 10px;
                        padding-right: 20px;
                        text-align: center;
                      }
                      .blank-message {
                        color: red;
                        font-size: 24px;
                        font-weight: bold;
                        overflow-x: 12px;
                        padding-top: 10px;
                        padding-right: 20px;
                        text-align: center;
                      }
                    </style>
                    
                    <p id="noMatchMessage" class="no-match-message" style="display: none;">Không có mã thuê khớp với mã bạn nhập</p>
                    <p id="blankmessage" class="blank-message" style="display: none;">Không được để trống ô tìm kiếm</p>
                    <script>
                      //Khai bao ham chuyen format ngay thang
                      function formatDate(dateString) {
          const options = { year: 'numeric', month: 'numeric', day: 'numeric' };
          const date = new Date(dateString);
          return date.toLocaleDateString('vi-VN', options);
        }
                    </script>
                    <script>
                    function searchRentalByCode() {
                      const rentalCode = document.getElementById('rentalCodeInput').value;
                      // Gửi yêu cầu truy vấn với tên khách hàng đã nhập
                      fetch(`/timmathue?rentalCode=${rentalCode}`)
                        .then(response => response.json())
                        .then(rentals => {
                          const noMatchMessage = document.getElementById('noMatchMessage');
                          const rentalTable = document.getElementById('rentalTable');
                          const rentalTableBody = document.getElementById('rentalTableBody');
                    
                          // Xóa các hàng cũ trong bảng
                          while (rentalTableBody.firstChild) {
                            rentalTableBody.removeChild(rentalTableBody.firstChild);
                          }
                    
                          if (rentals.length === 0) {
                            // Không có khách hàng khớp, hiển thị thông báo và ẩn bảng
                            noMatchMessage.style.display = 'block';
                            rentalTable.style.display = 'none';
                            blankmessage.style.display = 'none';
                          } else if (rentalCode === '') {
                            blankmessage.style.display = 'block';
                            rentalTable.style.display = 'none';
                            noMatchMessage.style.display = 'none';
                          } else {
                            // Có khách hàng khớp, ẩn thông báo và hiển thị bảng
                            noMatchMessage.style.display = 'none';
                            rentalTable.style.display = 'table';
                            blankmessage.style.display = 'none';
                            rentals.forEach(rental => {
                              // Thêm dữ liệu mới vào bảng
                              const row = rentalTableBody.insertRow();
                              row.insertCell().textContent = rental.HoTen;
                              row.insertCell().textContent = rental.SoDienThoai;
                              row.insertCell().textContent = rental.Email;
                              row.insertCell().textContent = rental.MaKhachHang;
                              row.insertCell().textContent = rental.MaXe;
                              row.insertCell().textContent = rental.DiaDiemNhanXe;
                              row.insertCell().textContent = rental.DiaDiemTraXe;
                              row.insertCell().textContent = formatDate(rental.NgayBatDau);
                              row.insertCell().textContent = formatDate(rental.NgayKetThuc);
                            });
                          }
                        })
                        .catch(error => {
                          console.log('Error searching rentals:', error);
                        });
                    }
                    </script>
                    </div>
    
                    <div class="content__layout1p3">
                        <form class="content__layout1p3Form" action="#" method="get" onsubmit="event.preventDefault();">               
                            <button class="js-delete"> Xóa</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>   
      </div>

      <script>
        const Dlts = document.querySelectorAll('.js-delete')
        const submit = document.querySelector('.submition')
        const subclose = document.querySelector('.content__layout1p1BtnSubmit32')
        const subclose2 = document.querySelector('.content__layout1p1BtnSubmit31')
        function show()
        {
          submit.classList.add('open')
        }
        for (const Dlt of Dlts)
        {
          Dlt.addEventListener('click',show)
        }
        
        function cls()
        {
          submit.classList.remove('open')
        }
        subclose.addEventListener('click',cls)
        subclose2.addEventListener('click',cls)
      </script>


      <!-- End content -->



      <!-- Begin footer -->
      <div id="footer">
        <div class="footer">
              <footer class="footer">
                  <div class="footer__p1">
                    <p class="footer--h1">Công ty cho thuê xe Takehiro</p>
                    <div class="footer--h2"> <i class="ti-location-pin"></i>
                      <a class="footer__link" href="https://goo.gl/maps/GX8fSM2AWNVL1nPk6"> Số 10 Giải Phóng, Hai Bà Trưng, Hà Nội</a>   
                      <div class="map-box"><img class="maps" src="./assets/img/AddressCpn.png" alt=""> </div>
                    </div>
                    <div class="clear"></div>
                    <p class="footer--h2"> 
                      <i class="ti-file"></i> GPKD số 0312345678 cấp bởi Sở Kế hoạch và Đầu tư Thành Phố Hà Nội ngày 07/06/2010
                    </p>
                    <p class="footer--h2"><i class="fal fa-phone fa-rotate-90" style="color: #c4def6;"></i> <i class="ti-mobile"></i> Điện thoại: 1800 1008 - 0971234567</p>
                    <p class="footer--h2"><i class="ti-email"></i> Email liên hệ: Takehiro@busi.vn</p>
                  </div>
                  <div class="footer__p2">
                    <p class="footer--h1">Kết nối với Takehiro</p>
                    <ul class="footer--h15">
                      <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-facebook"> </i> Facebook</a></li>
                      <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-twitter"> </i> Twitter</a></li>
                      <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-youtube"> </i> Youtube</a></li>
                      <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-instagram"> </i> Instagram</a></li>
                    </ul>
                  </div>
                  <div class="footer__p3">
                    <img class="footer__p3logo" src="./assets/img/logobocongthuong.png" alt="đã thông báo với bộ công thương">
                    <img class="footer__p3logo" src="./assets/img/dmca-logo.png" alt="">
                  </div>
              </footer>
        </div>
        <div class="footer2">
            <footer class="footer">
              <div class="footer__logo">
                <img class="footer__logoImg" src="./assets/img/logo.png" alt="logo công ty">
              </div>
              <div class="footer__cpn">
                <p class="footer__name">Takehiro Rent Car</p>
              </div>
              <div class="footer__slogan">Best Service, Right Time, Right People</div>
            </footer>
        </div>
      </div>
      <!-- End footer -->
</body>
</html>