<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./assets/img/logo.png"/>
    <link rel="stylesheet" href="./assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="./assets/css/preset.css">
    <link rel="stylesheet" href="./assets/css/base.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/home.css">
    <link rel="stylesheet" href="./assets/css/layout1.css">
    <link rel="stylesheet" href="./assets/css/layout1Search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=vietnamese" rel="stylesheet">
    <title>Search Account</title>
    <style>
      /* Định dạng bảng */
      table {
        border-collapse: collapse;
        width: 100%;
        /*width: 870px; /* Tăng kích thước bảng */
        /*height: 650px;*/
        margin: 0 auto; /* Căn giữa bảng */
        overflow-x: auto;
      }
  
      /* Định dạng hàng đầu tiên (tiêu đề cột) */
      thead th {
        background-color: #33b0b9;
        font-weight: bold;
        padding: 12px; /* Tăng kích thước padding */
        text-align: left;
      }
  
      /* Định dạng các ô dữ liệu */
      tbody td {
        border: 1px solid #ddd;
        padding: 12px; /* Tăng kích thước padding */
        background-color: #ffffff74;
      }
  
      /* Định dạng các ô dữ liệu đặc biệt (ví dụ: cột đầu tiên) */
      tbody td:first-child {
        font-weight: bold;
      }
    </style>
</head>
<body>
    <div class="header">
        <ul class="header__navleft">
          <li class="header__listItem"><a class="header__link" href="home.html"><img class="header__logo" src="./assets/img/Rent Car Taxi Cab Logo.png" alt="logo"></a></li>
          <li class="header__listItem"><a class="header__link" href="home.html">Trang Chủ</a></li>
          <li class="header__listItem"><a class="header__link" href="service.html">Chăm Sóc Khách Hàng</a></li>
          <li class="header__listItem">
            <a id="chucnang" class="header__link" href="home.html">Chức năng &nbsp<i class="ti-angle-down"></i> </a>
            <i class="ti-angle-down"></i>
            <ul class="header__subnav">
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageEmployee.html">Quản lý nhân viên</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="listEmployee.html">Danh sách nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addEmployee.html">Thêm thông tin nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateEmployee.html">Sửa thông tin nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeEmployee.html">Xóa thông tin nhân viên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchEmployee.html">Tìm kiếm nhân viên</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageCustomer.html">Quản lý khách hàng</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="listCustomer.html">Danh sách khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addCustomer.html">Thêm thông tin khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateCustomer.html">Sửa thông tin khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeCustomer.html">Xóa thông tin khách hàng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCustomerByName.html">Lọc tìm kiếm khách hàng theo tên</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCustomerByPN.html">Lọc tìm kiếm khách hàng theo sdt</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCustomerByEmail.html">Lọc tìm kiếm khách hàng theo email</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="customerHistory.html">Xem lịch sử thuê xe của khách hàng</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageRentCar.html">Quản lý thuê xe</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addRentCar.html">Thêm thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateRentCar.html">Sửa thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeRentCar.html">Xóa thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchRentCar.html">Tìm thông tin đặt xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateBill.html">Cập nhật hóa đơn</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchBill.html">Thông tin hóa đơn khách hàng</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageCar.html">Quản lý xe</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addCar.html">Thêm thông tin xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateCar.html">Sửa thông tin xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeCar.html">Xóa thông tin xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchCar.html">Tìm kiếm xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="carType.html">Hiển thị thông báo các loại xe</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="carMaintenance.html">Bảo dưỡng xe</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="manageAccount.html">Quản lý tài khoản</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="listAccount.html">Danh sách tài khoản</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="addAccount.html">Thêm tài khoản</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="updateAccount.html">Sửa tài khoản</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="removeAccount.html">Xóa tài khoản</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="searchAccount.html">Tìm kiếm tài khoản</a></li>
                </ul>
              </li>
              <li class="header__subListItem">
                <a class="header__linkSubnav" href="report.html">Báo cáo</a>
                <ul class="header__subSubnav">
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="monthReport.html">Báo cáo doanh thu các tháng</a></li>
                  <li class="header__listItemSubSubnav"><a class="header__linkSubSubnav" href="popularCar.html">Loại xe phổ biến </a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="header__navright">
          <li class="header__listItem"><a class="header__link" href="signin.html">Đăng Xuất</a></li>
          <li class="header__listItem"><a class="header__link" href="help.html">Hỗ Trợ</a></li>
        </ul>
      </div>

  <div class="content">
    <div class="content__sidebar">
        <p class="content__sidebarHeading">Chức năng</p>
        <ul class="content__sidebarList">
          <li class="content__sidebarItem"><a class="content__sidebarFunction" href="manageAccount.html">Quản lý tài khoản</a></li>
          <li class="content__sidebarItem">
            <ul class="content__sidebarSubList">
            <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="listAccount.html">Danh sách tài khoản</a></li>
            <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="addAccount.html">Thêm tài khoản</a></li>
            <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="updateAccount.html">Sửa tài khoản</a></li>
            <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="removeAccount.html">Xóa tài khoản</a></li>
            <li class="content__sidebarSubItem"><a class="content__sidebarLink" href="searchAccount.html">Tìm kiếm tài khoản</a></li>
          </ul>
          </li>
        </ul>
        <p id="ct__sbback"><a class="ct__sbbackLink" href="home.html"><i class="ti-angle-left" style="font-size: 1.8rem;"></i>&nbspQuay lại</a></p>
      </div>
      <div class="content__main">
        <div class="content__layout1">
            <div class="content__layout1p1">
                <form class="content__layout1p1SearchForm" action="#" method="get" onsubmit="event.preventDefault(); searchUser();">
                    <input id="IdEInput" class="content__layout1p1SearchArea" type="text" placeholder="Nhập mã nhân viên">
                    <input class="content__layout1p1BtnSubmit" type="submit" value="Tìm kiếm" onclick="searchUser()">
                </form>
            </div>
            <div class="content__layout1p2">
              <!-- - Doan code de lay du lieu tu localhost:3000/data va hien thi len page -->

              <table id="employeeTable" class="hidden">
                <thead>
                  <tr>
                    <th>Mã Nhân Viên</th>
                    <th>Họ Tên</th>
                    <th>Tên tài khoản</th>
                    <th>Mật khẩu</th>
                    <th>Chức Vụ</th>
                  </tr>
                </thead>
                <tbody id="employeeTableBody"></tbody>
              </table>
<style>
  .hidden {
    display: none;
  }
</style>
<style>
  .no-match-message {
    color: red;
    font-size: 18px; /* Kích thước chữ */
    font-weight: normal; /* Độ đậm chữ */
    overflow-x: 12px;
    padding-top: 10px; /* Dịch xuống */
    padding-right: 20px; /* Dịch sang phải */
    text-align:center; /* Căn phải */
  }
</style>

<p id="noMatchMessage" class="no-match-message" style="display: none;">Không có tài khoản khớp với mã bạn nhập</p>
<p id="noEnterMessage" class="no-match-message" style="display: none;">Bạn cần nhập mã nhân viên cần tìm kiếm</p>

<script>
    function searchUser() {
  const IdEInput = document.getElementById('IdEInput').value;
  // Gửi yêu cầu truy vấn với biển số xe đã nhập
  fetch(`/searchUser?IdEInput=${IdEInput}`)
    .then(response => response.json())
    .then(employees => {
      const noMatchMessage = document.getElementById('noMatchMessage');
      const employeeTable = document.getElementById('employeeTable');
      const employeeTableBody = document.getElementById('employeeTableBody');

      // Xóa các hàng cũ trong bảng
      while (employeeTableBody.firstChild) {
        employeeTableBody.removeChild(employeeTableBody.firstChild);
      }

      if (employees.length === 0) {
      // Không có nhân vien khớp, hiển thị thông báo và ẩn bảng
      noMatchMessage.style.display = 'block';
      employeeTable.style.display = 'none';
      noEnterMessage.style.display = 'none';
      }
      else if(IdEInput === ''){
        employeeTable.style.display = 'none';
        noEnterMessage.style.display = 'block';
        noMatchMessage.style.display = 'none';
      }
     else {
      // Có nhan vien khớp, ẩn thông báo và hiển thị bảng
      noMatchMessage.style.display = 'none';
      employeeTable.style.display = 'table';

      // Thêm dữ liệu mới vào bảng
      employees.forEach(employee => {
          const row = employeeTableBody.insertRow();
          row.insertCell().textContent = employee.MaNhanVien;
          row.insertCell().textContent = employee.HoTen;
          row.insertCell().textContent = employee.Username;
          row.insertCell().textContent = employee.Password;
          row.insertCell().textContent = employee.ChucVu;
        });
    }
  })
  .catch(error => {
    console.log('Error searching employees:', error);
  });
}
      </script>

            </div>
        </div>
      </div>
  </div>
  

  <div id="footer">
    <div class="footer">
          <footer class="footer">
              <div class="footer__p1">
                <p class="footer--h1">Công ty cho thuê xe Takehiro</p>
                <div class="footer--h2"> <i class="ti-location-pin"></i>
                  <a class="footer__link" href="https://goo.gl/maps/GX8fSM2AWNVL1nPk6"> Số 10 Giải Phóng, Hai Bà Trưng, Hà Nội</a>   
                  <div class="map-box"><img class="maps" src="./assets/img/AddressCpn.png" alt=""> </div>
                </div>
                <div class="clear"></div>
                <p class="footer--h2"> 
                  <i class="ti-file"></i> GPKD số 0312345678 cấp bởi Sở Kế hoạch và Đầu tư Thành Phố Hà Nội ngày 07/06/2010
                </p>
                <p class="footer--h2"><i class="fal fa-phone fa-rotate-90" style="color: #c4def6;"></i> <i class="ti-mobile"></i> Điện thoại: 1800 1008 - 0971234567</p>
                <p class="footer--h2"><i class="ti-email"></i> Email liên hệ: Takehiro@busi.vn</p>
              </div>
              <div class="footer__p2">
                <p class="footer--h1">Kết nối với Takehiro</p>
                <ul class="footer--h15">
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-facebook"> </i> Facebook</a></li>
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-twitter"> </i> Twitter</a></li>
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-youtube"> </i> Youtube</a></li>
                  <li class="footer__p2ListItem"><a href="" class="footer--h2"><i class="ti-instagram"> </i> Instagram</a></li>
                </ul>
              </div>
              <div class="footer__p3">
                <img class="footer__p3logo" src="./assets/img/logobocongthuong.png" alt="đã thông báo với bộ công thương">
                <img class="footer__p3logo" src="./assets/img/dmca-logo.png" alt="">
              </div>
          </footer>
    </div>
    <div class="footer2">
        <footer class="footer">
          <div class="footer__logo">
            <img class="footer__logoImg" src="./assets/img/logo.png" alt="logo công ty">
          </div>
          <div class="footer__cpn">
            <p class="footer__name">Takehiro Rent Car</p>
          </div>
          <div class="footer__slogan">Best Service, Right Time, Right People</div>
        </footer>
    </div>
  </div>
</body>
</html>